{% extends 'basic.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="container my-3">

<h3 class="my-3 ">Contact Me</h3>
<form method="post" action="/contact/">{% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone no.</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone no." >
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Issue</label>
    <input type="text" class="form-control" id="content" name="content" placeholder="Mention your issue here.">
  </div>
  <button type="submit" class="btn btn-warning color">Submit</button>
</form>
</div>
{% endblock body %}