{% extends 'basic.html' %}

{% block title %} Blogpost{% endblock title %}

{% block body %}
{% load humanize %}
{% load extras %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="container my-3">
<div class="container my-3">

  <h2 class="blog-post-title">{{post.title}}</h2>
  <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>

  <p>{{post.content | safe}}</p>
  <hr>
</div>
<div class="container">
  <h2> Comments ({{comments.count}})</h2>
  {% if user.is_authenticated %}
  <form action="/blog/postComment" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Post Comment </label>
      <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
    </div>
    <input type="hidden" name="postSno" value="{{post.sno}}">
    <input type='hidden' name='parentSno' value=''>
    <br>
    <button type="submit" class="btn btn-warning color btn-sm">Post</button>
  </form>
  {% else %}
  <p>Please login to post a comment</p>
  {% endif %}
  {% for comment in comments %}
  <div class="row my-3 container">
    <div class="col-md-1 "><img class="rounded mx-auto d-block p-3 my-0" src="/static/Images/person.png"
        alt="user" style='height:auto;width:100%;'></div>
    <div class="col-md-11 "><b>{{comment.user}}</b>&nbsp;{{comment.timeStamp | naturaltime}}<br>{{comment.comment}}
      <div class="reply mx-0">
        {% if user.is_authenticated %}
          <button class="btn btn-warning my-1 btn-sm color" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{comment.sno}}"
            aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
            Reply
          </button>
          
        <div class="collapse my-2" id="replyBox{{comment.sno}}">
          <div class="card card-body">
            <form action="/blog/postComment" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Post Reply </label>
                <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                <input type='hidden' name='parentSno' value='{{comment.sno}}'>
              </div>
              <input type="hidden" name="postSno" value="{{post.sno}}">
              <br>
              <button type="submit" class="btn btn-warning color btn-sm">Post</button>
            </form>
          </div>
        </div>
        {% else %}
        <button class="btn btn-warning my-1 btn-sm color" type="button" data-bs-toggle="collapse" data-bs-target="#replyBox{{comment.sno}}"
            aria-expanded="false" aria-controls="replyBox{{comment.sno}}" disabled>
            Login to Reply
          </button>
        {% endif %}
        <div class="replies">
          {% for reply in replyDict|get_val:comment.sno %}
          <div class="row my-3">
          <div class="col-md-1 "><img class="rounded mx-auto d-block p-3 my-0" src="/static/Images/person.png"
            alt="user" style='height:auto;width:100%;'></div>
          <div class="col-md-11 "><b>{{reply.user}}</b>&nbsp;{{reply.timeStamp | naturaltime}}<br>{{reply}}</div>
            <br>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}